<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://beerappserverside.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/497ee183-7cbb-450a-b364-5153a25280a9/resourceGroups/ServerSide/providers/Microsoft.Web/sites/BeerAppServerSide</ResourceId>
    <UserName>$BeerAppServerSide</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://beerappserverside.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>